
  <h1>Listado de Task obtenido desde API JSONPlaceholder</h1>
  <table>
    <thead>
      <th>User ID</th>
      <th>ID</th>     
      <th>Title</th>     
      <th>Completed</th>     
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td [ngStyle]="{'color':'grey','background-color':'#ABEBC6','text-align':'left'}">{{ task.userId }}</td>
        <td [ngStyle]="{'color':'grey','background-color':'#24292e','text-align':'left'}">{{ task.id }}</td>
        <td [ngStyle]="{'color':'grey','background-color':'white','text-align':'left'}">{{ task.title | uppercase }}</td>
        <td [ngStyle]="{'color':'grey','background-color':'white','text-align':'left'}">{{ task.completed }}</td>              
      </tr>
    </tbody>
  </table>

